<h1>Report a Scam</h1>


<%= form_for :scam, url: scams_path do |form| %>
  <p>
    <%= form.label :scam_type %><br>
    <%= form.select :scam_type, ['Email', 'Phone Call', 'Computer', 'Other']%>
  </p>
 
  <p>
    Describe the suspicious activity you encountered below.<br>
    Remember to include information about:
  </p>
      <li>Type of technology you were using</li>
      <li>Time you encountered this scam</li>
      <li>Why it seems suspicious</li>
      <li>Any other relevant information</li>
  <br>
  <%= form.text_area :description, class: "text_box" %>
 
  <p>
    <%= form.submit "Submit Report" %>
  </p>
<% end %>