<!-- This file is the view of a Scam Report -->

<!-- Only allow the original poster to edit/delete the scam report -->
<% if current_user.email == @poster.email %>
  <li class="menu"><%= link_to 'Edit', edit_scam_path(@scam) %></li>
  <li class="menu"><%= link_to 'Delete', scam_path(@scam),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
<% end %>

<!-- Display information about the scam -->
<p>
  <strong>Submitted at:</strong>
  <!-- Using strftime() to format the date and time -->
  <%= @scam.created_at.strftime("%l:%M %P on %m/%d/%Y") %> 
</p>

<p>
  <strong>Type of Scam:</strong>
  <%= @scam.scam_type %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @scam.description %>
</p>

<!-- Display instructions on how to comment -->
<h4>Add a comment:</h4>

  <p>
    Review the information in the above report.<br>
    Please give some feedback on:
  </p>
      <li>Do you think this is a scam?</li>
      <li>What actions should they take to resolve the problem?</li>
      <li>How can this problem be avoided in the future?</li>

<!-- Form for creating a comment -->
<%= form_with(model: [ @scam, @scam.comments.build ], local: true) do |form| %>
  <%= form.hidden_field :commenter, :value => current_user.email %>
  <p>
    <%= form.text_area :body, class: "text_box"%>
  </p>
  <p>
    <%= form.submit "Submit Comment" %>
  </p>
<% end %>

<!-- Display existing comments -->
<h4>Comments:</h4>
<%= render @scam.comments %> <!-- Uses the view from views/comments/_comment.html.erb-->