<!-- Display information about the scam -->
<p>
  <strong>Submitted at:</strong>
  <!-- Using strftime() to format the date and time -->
  <%= @scam.created_at.strftime("%l:%M %P on %m/%d/%Y") %> 
</p>

<p>
  <strong>Type of Scam:</strong>
  <%= @scam.scam_type %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @scam.description %>
</p>

<h4>Add a comment:</h4>

  <p>
    Review the information in the above report.<br>
    Please give some feedback on:
  </p>
      <li>Do you think this is a scam?</li>
      <li>What actions should they take to resolve the problem?</li>
      <li>How can this problem be avoided in the future?</li>

<%= form_with(model: [ @scam, @scam.comments.build ], local: true) do |form| %>
  <%= form.hidden_field :commenter, :value => current_user.email %>
  <p>
    <%= form.text_area :body, class: "text_box"%>
  </p>
  <p>
    <%= form.submit "Submit Comment" %>
  </p>
<% end %>

<h4>Comments:</h4>
<%= render @scam.comments %>