<!-- This file is the view for the home page of the application -->
<!-- Display the current user's scam reports -->
<h3>My Scam Reports</h3>

<table class="blueTable">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Type of Scam</th>
    <th>Number of Comments</th>
    <th>View Comments</th>
    <th>Delete</th>
  </tr>
 
  <% current_user.scams.each do |scam| %>
    <tr>
      <td><%= scam.created_at.strftime("%m/%d/%y") %></td>
      <td><%= scam.created_at.strftime("%l:%M %P") %></td>
      <td><%= scam.scam_type %></td>
      <td><%= scam.comments.length %></td> 
      <td><%= link_to 'Show', scam_path(scam) %></td>
      <td><%= link_to 'Delete', scam_path(scam),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>        
    </tr>
  <% end %>
</table>

<!-- Display scam reports from the current user's friends -->
<h3>My Friend's Scam Reports</h3>

<table class="blueTable">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Type of Scam</th>
    <th>Submitted By</th>
    <th>Number of Comments</th>
    <th>Review this Scam</th>
  </tr>
 
  <% @friend_scams.each do |scam| %> <!-- @friend_scams is created in home_controller.rb -->
    <tr>
      <td><%= scam.created_at.strftime("%m/%d/%y") %></td>
      <td><%= scam.created_at.strftime("%l:%M %P") %></td>
      <td><%= scam.scam_type %></td>
      <% @user = @users.find(scam.user_id) %> <!-- Get the user who submitted the scam -->
      <td><%= @user.email %></td> <!-- Output that user's email -->   
      <td><%= scam.comments.length %></td>   
      <td><%= link_to 'Show', scam_path(scam) %></td>       
    </tr>
  <% end %>
</table>

<!-- Display all scam reports, sorted by most recent -->
<h3>All Scam Reports</h3>

<table class="blueTable">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Type of Scam</th>
    <th>Submitted By</th>
    <th>Number of Comments</th>
    <th>Review this Scam</th>
  </tr>
 
  <% @sorted_scams.each do |scam| %> <!-- @sorted_scams is created in home_controller.rb -->
    <tr>
      <td><%= scam.created_at.strftime("%m/%d/%y") %></td>
      <td><%= scam.created_at.strftime("%l:%M %P") %></td>
      <td><%= scam.scam_type %></td>
      <% @user = @users.find(scam.user_id) %> <!-- Get the user who submitted the scam -->
      <td><%= @user.email %></td> <!-- Output that user's email -->      
      <td><%= scam.comments.length %></td> 
      <td><%= link_to 'Show', scam_path(scam) %></td>       
    </tr>
  <% end %>
</table>