<h3>My Scam Reports</h3>

<table class="blueTable">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Type of Scam</th>
    <th>Description</th>
    <th>View Comments</th>
    <th>Delete</th>
  </tr>
 
  <% current_user.scams.each do |scam| %>
    <tr>
      <td><%= scam.created_at.strftime("%m/%d/%y") %></td>
      <td><%= scam.created_at.strftime("%l:%M %P") %></td>
      <td><%= scam.scam_type %></td>
      <td><%= scam.description %></td> 
      <td><%= link_to 'Show', scam_path(scam) %></td>
      <td><%= link_to 'Delete', scam_path(scam),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>        
    </tr>
  <% end %>
</table>

<h3>All Scam Reports</h3>

<h3>My Friend's Scam Reports</h3>